.roupas-container { margin:8px -8px -8px; }
.clear-both { width:100%; height:0; clear:both; overflow:hidden; }

.form { margin:16px -8px 0; }
.form-div { width:calc(25% - 16px); padding:0 8px; float:left; }
.form-label { margin-bottom:4px; display:block; color:rgba(0,0,0,.54); font-size:12px; line-height:120%; }
.form-input { width:calc(100% - 24px); padding:8px 12px; border:1px solid rgba(0,0,0,.16); border-radius:4px; }

.form-checkbox { padding:8px 12px; border:1px solid rgba(0,0,0,.16); margin-right:8px; display:inline-block; background:#ffffff; border-radius:4px; }
.form-checkbox-icon { margin:0 4px 0 0; vertical-align:middle; }
.form-checkbox-texto { font-size:12px; font-weight:bold; line-height:100%; vertical-align:middle; }

.form-button { width:100%; height:33px; border:none; margin-top:18px; color:#ffffff; font-weight:bold; text-align:center; background:#34495e; border-radius:4px; cursor:pointer; transition:opacity .25s; }
.form-button:hover { opacity:.8; }